.surveyReset {
    background-color: #F3DA58;
    color: #000;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    /*
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 10000;
    display: none;
    */
    cursor: pointer;
}

.titre {
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    font-size:22px;
    padding-bottom:12px;
}

.sv-root-modern .sv-description {
    color: #000;
    font-size: 18px;
}

.texte {
    color: #000;
    font-family: "Raleway";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.sv-root-modern ::-webkit-scrollbar-thumb {
    background: rgb(243 218 88);
}
